@{
    ViewBag.Title = "More Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Ticket Exchange is a site that facilitates simple exchanges of tickets to various events and shows. This service is provided free of charge to all of our users.</p>
