@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Ticket Exchange</h1>
    <p class="lead">The best place to exchange your unwanted tickets on the web!</p>
    <p><a href="~/Exchange/Index" class="btn btn-primary btn-lg">Start Trading! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>
            Trading tickets on the Ticket Trader is simple. All you need is a free account to begin listing and trading tickets today!
            <br />
            <br />
            Feel free to take a look around before you sign up.
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Already a Member?</h2>
        <p>Log in now and begin trading tickets right away.</p>
        <p><a class="btn btn-default" href="~/Account/Login">Log In &raquo;</a></p>
    </div>
</div>