@model IEnumerable<FinalProject.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<ul>
    @foreach(var cat in Model)
    {
        <li>@Html.ActionLink(cat.name, "Browse", new {category = cat.name})</li>
    }
</ul>
