@model IEnumerable<FinalProject.Models.Category>

@helper ImageButton(string action, string imgUrl)
{
    <a href="Exchange/@action"><img src="~/Content/Img/@imgUrl" width="150px"/></a>
}
@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<ul id="linkList">
    @foreach(var cat in Model)
    {
        <li>
            @ImageButton("Browse?category=" + cat.name, cat.imageUrl)
            <h5>@Html.ActionLink(cat.name, "Browse", new { category = cat.name })</h5></li>
    }
</ul>

