@model IEnumerable<FinalProject.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<ul id="linkList">
    @foreach(var cat in Model)
    {
        <li><h5>@Html.ActionLink(cat.name, "Browse", new { category = cat.name })</h5></li>
    }
</ul>
