body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Add background image to jumbotron as well as set text to white for readability*/
.jumbotron{
    background-image: url(Img/ticket-slider1.jpg);
    color:white;
}

ul{
    list-style-type: none;
}

h5{
    font-size: 120%;
    font-weight: 100;
}

.carousel-caption{
    font-size: 300%;
    font-weight: bold;
    text-shadow: 3px 3px 3px #333;
}

